html,body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.m-slider{
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
}
.m-slider, .m-slider .slide{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.m-slider .slide{
  position: absolute;
  top:0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;

}

.m-slider .slide.z-active{
  transition: opacity .2s ease-in;
}

.m-slider .slide img{
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

.m-slider .slide h2{
  margin-top: 40%;
}


/*----Cursor------*/

.m-cursor{
  z-index: 10;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  padding-left: 0;
}
.m-cursor li{
  width: 10px;
  height: 10px;
  background-color: #fff;
  line-height: 10px;
  border-radius: 50%;
  margin-right: 4px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color .5s;
}
.m-cursor li:hover, .m-cursor li.z-active{
  background-color: #333;
}
.m-cursor li.prev, .m-cursor li.next{
  font-family: '宋体';
}

