<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>网易云课堂实战项目</title>
<meta name="keywords" content="网易 云课堂 项目实战"/>
<meta name="description" content="这是最后的大作业"/>
<meta name="viewport" content="width=device-width"/>
<link rel="stylesheet" href="../dist/css/reset.css">
<link rel="stylesheet" href="../dist/css/style.css"/>
<link rel="shortcut icon" href="img/favicon.ico"/>
<link rel="apple-touch-icon" href="img/touchicon.png"/>
</head>
<body>
<div class="g-doc">
    <!-- 头部 -->
    <header class="g-hd">
        <!-- 网站提示信息 -->
        <div class="m-tips">
            <div class="g-flow f-cb">
                <p class="f-fl">网易云课堂微专业，帮助你掌握专业技能，令你求职或加薪多一份独特优势！
                    <a href="#" class="u-more">立即查看&gt;</a>
                </p>
                <p class="f-fr"><a class="u-close">&times;</a> 不再提醒</p>
            </div>
        </div>

        <div class="g-flow m-top f-cb">
            <div class="m-logo f-fl">
                <a href="#" class="f-fl"><img src="../img/logo1.png" alt="logo" title="网易教育产品部" width="236" height="90" /></a>
                <div class="m-watch">
                    <button class="u-watch"><span class="u-add">+</span> 关注</button>
                    粉丝<span id="fans" class="fans">45</span>
                    <div class="m-unwatch" class="display:none"></div>
                </div>
            </div>

            <div class="m-search f-fr f-cb">
                <ul class="u-links f-fl">
                    <li><a href="http://open.163.com/" target="_blank">网易公开课</a></li>
                    <li><a href="http://study.163.com/" target="_blank">云课堂</a></li>
                    <li><a href="http://www.icourse163.org/" target="_blank">中国大学MOOC</a></li>
                </ul>
                <div class="search f-fr"></div>
            </div>
        </div>
        <!-- slide和一些介绍信息 -->
        <aside>
            <div class="m-slide f-pr">
                
            </div>
            <div class="g-flow m-info">
                
            </div>
        </aside>
        
    </header> <!-- /header 网站头部 -->
    
    <main class="g-bd">
        <section>
            
        </section>
        <div class="g-mn">
            demo1
        </div>
        <div class="g-sd">
            demo1234
        </div>
    </main>

    <footer class="g-ft">
    </footer>
    
</div>
</body>
</html>