<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>网易云课堂实战项目</title>
<meta name="keywords" content="网易 云课堂 项目实战"/>
<meta name="description" content="这是最后的大作业"/>
<meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="../dist/css/reset.css">
<link rel="stylesheet" href="../src/js/widget/slide/style.css">
<link rel="stylesheet" href="../dist/css/style.css"/>
<link rel="shortcut icon" href="img/favicon.ico"/>
<link rel="apple-touch-icon" href="img/touchicon.png"/>
</head>
<body>
<div class="g-doc">
    <!-- 头部 -->
    <header class="g-hd">
        <!-- 网站提示信息 -->
        <div class="m-tips">
            <div class="g-flow f-cb">
                <p class="f-fl">网易云课堂微专业，帮助你掌握专业技能，令你求职或加薪多一份独特优势！
                    <a href="#" class="u-more">立即查看&gt;</a>
                </p>
                <p class="f-fr"><a class="u-close">&times;</a> 不再提醒</p>
            </div>
        </div>

        <div class="g-flow m-top f-cb">
            <div class="m-logo f-fl">
                <a href="#" class="f-fl"><img class="img" src="../img/logo1.png" alt="logo" title="网易教育产品部" width="236" height="90" /></a>
                <div class="m-watch">
                    <button class="u-watch"><span class="u-add">+</span> 关注</button>
                    粉丝<span id="fans" class="fans">45</span>
                    <div class="m-unwatch" class="display:none"></div>
                </div>
            </div>

            <div class="m-search f-fr f-cb">
                <ul class="u-links f-fl">
                    <li><a href="http://open.163.com/" target="_blank">网易公开课</a></li>
                    <li><a href="http://study.163.com/" target="_blank">云课堂</a></li>
                    <li><a href="http://www.icourse163.org/" target="_blank">中国大学MOOC</a></li>
                </ul>
                <div class="search f-fr"></div>
            </div>
        </div>
        <!-- slide和一些介绍信息 -->
        <aside>
            <!-- slide的容器 -->
            <div class="g-slide f-pr" id="gslide">
                <ul class="m-cursor">
                  <li class='cursor'></li>
                  <li class='cursor'></li>
                  <li class='cursor'></li>
                </ul>
                <a href="javascript:;"  class="u-arrow u-larrow">&lt;</a>
                <a href="javascript:;"  class="u-arrow u-rarrow">&gt;</a>
            </div>
            <!-- 这里为了实现三列自适应，并且居中，使用了margin-left技巧，增加元素的宽度 , 并使用display：table-->
            <div class="g-flow">
                <div class="g-parent-fix">
                    <article class="m-info">
                        <section class="column f-cb">
                            <figure class="info_icon f-fl open163"></figure>
                            <article class="info_art f-oh">
                                <h2>网易公开课</h2>
                                <p>推出国内外名校公开课，涉及广泛的学科，名校老师认真讲解深度剖析，网易公开课频道搭建起强有力的网络视频教学平台</p>
                                <a href="http://open.163.com/" class="u-more" target="_blank">了解更多&gt;</a>
                            </article>
                        </section>
                        <section class="column f-cb">
                            <figure class="info_icon f-fl study163"></figure>
                            <article class="info_art f-oh">
                                <h2>云课堂</h2>
                                <p>网易旗下大型在线学习平台，该平台面向学习者提供海量免费、优质课程，创新的个性化学习体验，自由开放的交流互动环境</p>
                                <a href="http://study.163.com/" class="u-more" target="_blank">了解更多&gt;</a>
                            </article>
                        </section>
                        <section class="column f-cb">
                            <figure class="info_icon f-fl icourse163"></figure>
                            <article class="info_art f-oh">
                                <h2>中国大学MOOC</h2>
                                <p>是爱课程网携手云课堂打造的在线学习平台，每一个有提升愿望的人，都可以在这里学习中国最好的大学课程，学完还能获得认证证书</p>
                                <a href="http://www.icourse163.org/" class="u-more" target="_blank">了解更多&gt;</a>
                            </article>
                        </section>
                    </article>
                </div>
            </div>
            <!-- 图片展示区 -->
            <div class="m-photos f-oh f-pr">
                <ul class="list">
                    <li><img src="../img/pic2-1.jpg" alt="" width="320" height="220"></li>
                    <li><img src="../img/pic2-2.jpg" alt="" width="320" height="220"></li>
                    <li><img src="../img/pic2-3.jpg" alt="" width="320" height="220"></li>
                    <li><img src="../img/pic2-4.jpg" alt="" width="320" height="220"></li>
                    <li><img src="../img/pic2-5.jpg" alt="" width="320" height="220"></li>
                </ul>
            </div>
        </aside>
        
    </header> <!-- /header 网站头部 -->
    
    <!-- 网站的主体部分,课程信息自适应剩余宽度 -->
    <main class="g-bd g-flow">
        <!-- 侧栏固定宽度,并且右浮动到最右边 -->
        <aside class="m-aside f-fr">
            <!-- 机构介绍 -->
            <div class="panel">
                <div class="p_title">机构介绍</div>
                <div class="p_video">
                    <p>观看下面的视频了解吧：</p>
                    <video src="" height="110px"></video>
                </div>
            </div>
            <!-- 最热课程 -->
            <div class="panel">
                <div class="p_title">最热排行</div>
                <ul class="hot_list">
                    <li class="list_item f-cb">
                        <a href="#" target="_blank" title="课程" class="f-fl"><img src="../img/icon2.png" alt="" width="50" height="50"></a>
                        <div class="item_info f-oh">
                            <a href="#"><h3 class="f-elipsis">舞曲揭秘影月揭秘sdf </h3></a>
                            <div class="like">
                                <span class="user_icon"></span>
                                <span class="like_sum">510</span>
                            </div>
                        </div>
                    </li>
                    <li class="list_item f-cb">
                        <a href="#" target="_blank" title="课程" class="f-fl"><img src="../img/icon2.png" alt="" width="50" height="50"></a>
                        <div class="item_info f-oh">
                            <a href="#"><h3 class="f-elipsis">舞曲揭秘影月揭秘sdf </h3></a>
                            <div class="like">
                                <span class="user_icon"></span>
                                <span class="like_sum">510</span>
                            </div>
                        </div>
                    </li>
                    <li class="list_item f-cb">
                        <a href="#" target="_blank" title="课程" class="f-fl"><img src="../img/icon2.png" alt="" width="50" height="50"></a>
                        <div class="item_info f-oh">
                            <a href="#"><h3 class="f-elipsis">舞曲揭秘影月揭秘sdf </h3></a>
                            <div class="like">
                                <span class="user_icon"></span>
                                <span class="like_sum">510</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- 课程展示自适应剩余宽度，使用float使每行显示的课程数目随窗口大小自适应 -->
        <div class="m-banner f-oh">
            <div class="u-tabs">
                <div class="tab z-selected">产品设计</div>
                <div class="tab">编程语言</div>
            </div>
            <article class="m-courses f-cb">
                <section class="course">
                    <div class="course_link">
                        <div class="img f-oh">
                            <img class="pic" src="../img/pic1.jpg" alt="混音全揭秘">
                        </div>
                        <h3 class="f-elipsis title">混音全揭秘 舞曲实战篇 揭秘音乐揭秘音乐的美丽</h3>
                    </div>
                    <div class="course_info">
                        <p><a href="#">音频帮</a></p>
                        <div class="like">
                            <span class="user_icon"></span>
                            <span class="like_sum">510</span>
                        </div>
                        <div class="price">&yen; 800.00</div>
                    </div>
                </section>
                <section class="course">
                    <div class="course_link">
                        <div class="img f-oh">
                            <img class="pic" src="../img/pic1.jpg" alt="混音全揭秘">
                        </div>
                        <h3 class="f-elipsis title">混音全揭秘 舞曲实战篇 揭秘音乐揭秘音乐的美丽</h3>
                    </div>
                    <div class="course_info">
                        <p><a href="#">音频帮</a></p>
                        <div class="like">
                            <span class="user_icon"></span>
                            <span class="like_sum">510</span>
                        </div>
                        <div class="price">&yen; 800.00</div>
                    </div>
                </section>
                <section class="course">
                    <div class="course_link">
                        <div class="img f-oh">
                            <img class="pic" src="../img/pic1.jpg" alt="混音全揭秘">
                        </div>
                        <h3 class="f-elipsis title">混音全揭秘 舞曲实战篇 揭秘音乐揭秘音乐的美丽</h3>
                    </div>
                    <div class="course_info">
                        <p><a href="#">音频帮</a></p>
                        <div class="like">
                            <span class="user_icon"></span>
                            <span class="like_sum">510</span>
                        </div>
                        <div class="price">&yen; 800.00</div>
                    </div>
                </section>
                <section class="course">
                    <div class="course_link">
                        <div class="img f-oh">
                            <img class="pic" src="../img/pic1.jpg" alt="混音全揭秘">
                        </div>
                        <h3 class="f-elipsis title">混音全揭秘 舞曲实战篇 揭秘音乐揭秘音乐的美丽</h3>
                    </div>
                    <div class="course_info">
                        <p><a href="#">音频帮</a></p>
                        <div class="like">
                            <span class="user_icon"></span>
                            <span class="like_sum">510</span>
                        </div>
                        <div class="price">&yen; 800.00</div>
                    </div>
                </section>
                <section class="course">
                    <div class="course_link">
                        <div class="img f-oh">
                            <img class="pic" src="../img/pic1.jpg" alt="混音全揭秘">
                        </div>
                        <h3 class="f-elipsis title">混音全揭秘 舞曲实战篇 揭秘音乐揭秘音乐的美丽</h3>
                    </div>
                    <div class="course_info">
                        <p><a href="#">音频帮</a></p>
                        <div class="like">
                            <span class="user_icon"></span>
                            <span class="like_sum">510</span>
                        </div>
                        <div class="price">&yen; 800.00</div>
                    </div>
                </section>
                <section class="course"></section>
            </article>
            <!-- 分页器 -->
            <div class="m-page"></div>
        </div>
        
        
    </main><!-- /main网站主体结束 -->

    <footer class="g-ft">
    </footer>
    
</div>
<script type="text/javascript" src="../src/js/util.js"></script>
<script type="text/javascript" src="../src/js/widget/slide/js/slider.js"></script>
<script>
    var slider = new Slider({
      //视口容器
      container: document.getElementById('gslide'),
      // 图片列表
      images: [
        "../img/banner1.jpg",
        "../img/banner2.jpg",
        "../img/banner3.jpg",
      ],

      //banner的链接地址
      links: [
        "http://open.163.com/",
        "http://study.163.com/",
        "http://www.icourse163.org/",
      ],

      //fadein动画的时常，ms为单位；
      animateTime: 500,
      //自动播放的时间间隔, ms为单位
      interval: 5000
    });

    var $ = function(selector){
        return [].slice.call(document.querySelectorAll(selector));
    }

    var cursors = $('.cursor');
    var container = $('.g-slide')[0];
    var larrow = $('.u-larrow')[0];
    var rarrow = $('.u-rarrow')[0];

    cursors.forEach(function(cursor, index){
      cursor.addEventListener('click', function(){
        if(cursor.className.indexOf('z-active')===-1){
            slider.nav(index);
        }
      })
    })


    container.addEventListener('mouseover', function(){
            slider.stop();
    });

    container.addEventListener('mouseout',function(){
        slider.autoPlay();
    });

    larrow.addEventListener('click', function(){
        slider.prev();
    });

    rarrow.addEventListener('click', function(){
        slider.next();
    });

    slider.on('nav', function(ev){
        cursors.forEach(function(cursor, index){
            if(ev.pageIndex === index){
                cursor.className = "z-active";
            }else{
                cursor.className = "";
            }
        });
    });
    slider.nav(0);
    slider.autoPlay();
</script>
</body>
</html>