/*
 *这里是页面主体部分的样式
 */

.g-bd{
    margin-top: 80px;
}

.m-banner{

    .m-courses{
        width: 100%;
        .course{
            float: left;
            width: 222px;
            margin-right: 18px;
            margin-bottom: 20px;
            padding: 1px;
            border: 1px solid $BORDER_COLOR;
            border-top: none;
            box-shadow: 0 1px $BORDER_COLOR;
            background-color: #fff;
        }
    }

    .u-tabs{
        margin-bottom: 29px;
        font-size: 0 ; //去除inline元素之间的空隙
        .tab{
            display: inline-block;
            width: 200px;
            height: 50px;
            background-color: #fff;
            font: 20px/50px $YAHEI;
            text-align: center;
            cursor: pointer;
            &.z-selected{
                background-color: $GREEN;
                color: #fff;
            }
        }
    }
}

.m-courses{
    font:12px/16.8px $YAHEI;
    color: #ccc;
    .course_link{
        cursor: pointer;
        &:hover{
            color: $GREEN;
        }
    }
    .img{
        width: initial;
        height: 124px;
        .pic{
            transition: all 1s ease 0s; //图片hover放大动画
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    .title{
        font-weight: bold;
        color: #333;
        margin: 6px 10px 8px 6px;
    }
    .course_info{
        margin-left: 6px;
        a{
            color: #ccc;
        }

        .like{
            display:inline-block;
            height: 16px;
            margin-top: 8px;
            margin-bottom: 8px;
            border: 1px solid #ccc;
            border-radius: 2px;
            .user_icon{
                display: inline-block;
                width: 10px;
                height: 10px;
                background: url('../../img/icon.png') 0 -24px;
            }
        }

        .price{
            margin-bottom:10px;
            color: #ff3f00;
            font-weight: bold;
        }
    }
}

/*主内容侧边栏样式*/
.m-aside{
    width: 226px;
    .panel{
        margin-bottom:20px;
        border:1px solid #ccc;
        border-top: none;
        box-shadow: 0 1px #ccc;
        background-color: #fff;
        .p_title{
            height: 54px;
            padding: 0 18px;
            border-bottom: 1px solid #ccc;
            font: 16px/54px $YAHEI;  
        }
        .p_video{
            padding: 18px;
            font: 14px $YAHEI;
            .vbtn{
                display: block;
                height:110px;
                width:180px;
                background: url('../../img/pic1.jpg');
            }
        }
        .hot_list{
            height: 730px;
            margin-top: -20px;
        }

        .list_item{
                margin-top: 20px;
                height: 53px;
            }
            .item_info{
                margin-left: 60px;
                h3{
                    font: 14px $YAHEI;
                }
                .like{
                    margin-top: 8px;
                    margin-bottom: 8px;
                    font: 14px $YAHEI;
                    color: #999;
                    .user_icon{
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        background: url('../../img/icon.png') 0 -24px;
                    }
                }
            }
    }
}

.m-hotscroll{
    height: 730px;
    margin: 20px 18px 0;
}

/*分页器样式*/
.m-pagewapper{
    margin-right: 18px;
}


/*课程详情浮层*/
.m-detail{
    position: absolute;
    width: 480px;
    // height: 240px;
    border:1px solid #c1c0c0;
    background-color: #fff;
    box-shadow: 0 0 1px #c1c0c0;
    overflow: hidden;
    .card{
        margin: 10px 10px 20px;
    }
    .intro{
        margin-left: 244px;
        font: 12px/20px $YAHEI;
        color: #666;
        .title{
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
        }
        .user_icon{
            display: inline-block;
            width: 10px;
            height: 10px;
            background: url('../../img/icon.png') 0 -24px;
        }
        .learn{
            margin: 7px 0 7px;
        }
        
    }
    
    .descript{
        padding: 20px;
        background-color: #f8f8f8;
        font: 14px/24px $YAHEI;
    }
}

/*登陆模块*/
.m-login{
    width: 294px;
    height: 220px;
    background-color: #fff;
    .uname,.upwd{
        display: block;
        margin-bottom: 15px;
        height: 43px;
        box-sizing: border-box;
        padding-left: 10px;
        width: 100%;
        background-color: #fafafa;
        border: 1px solid #dfdfdf;
        box-shadow: inset 1px 1px #f1f1f1;
    }
    .title{
        font: bold 18px/28px $YAHEI;
        margin-bottom: 18px;
    }
    .submit{
        display: block;
        height: 46px;
        width: 293px;
        box-shadow: 1px 1px #d5e3da;
        font: 16px $YAHEI;
        color: #fff;
        background: url('../../img/button.png');
        border: none;

    }
}